<!Doctype >
<html>
   <head>
      <title>Web Development - About the Web</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/static/style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
   </head>
   <nav>
      <ul id="navbar">
         <li><a href="/" class="active">About the Web</a></li>
         <li><a href="/practice">Practice</a></li>
         <li><a href="/test">Test Your Knowledge</a></li>
      </ul>
   </nav>
   <body>
      <header>
         <h1>Learn About Web Development</h1>
         <em>Share some more webdev facts!</em>  
      </header>
      <section class="lead">
         <h2>Congratulations, you are logged out!</h2>
      </section>
   </body>
</html>
