<!Doctype >
<html>
    <head>
        <title>Web Development - Practice</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    </head>
    
    <nav>
        <ul id="navbar">
            <li><a href="/">About the Web</a></li>
            <li><a href="/practice" class="active">Practice</a></li>
            <li><a href="/test">Test Your Knowledge</a></li>
        </ul>
    </nav>

    <body>
        <header>
            <h1>Practice What You Learned</h1>
            <em>Play our matching game and see how you rank</em> 
        </header>

        <!--JS matching game-->
        <div id="matching-container">
            <div class="matching-set" id="matching-history">
                <div class="set-header">
                    <h2>Web History</h2>
                    <h3>Match the creator to the creation</h3>
                </div>
                <div class="cards">
                    <div class="matching-col left">
                        <div class="matching-card history-incomplete" id="history-left-1">Tim Berners-Lee</div>
                        <div class="matching-card history-incomplete" id="history-left-2">Marc Andreesen</div>
                        <div class="matching-card history-incomplete" id="history-left-3">Marc Andreesen</div>
                        <div class="matching-card history-incomplete" id="history-left-4">W3C</div>
                        <div class="matching-card history-incomplete" id="history-left-5">Tim Berners-Lee</div>
                        <div class="matching-card history-incomplete" id="history-left-6">W3C</div>
                    </div>
                    <div class="matching-col right">
                        <div class="matching-card history-incomplete" id="history-right-1">recommendations for web technologies</div>
                        <div class="matching-card history-incomplete" id="history-right-2">hypertext</div>
                        <div class="matching-card history-incomplete" id="history-right-3">recommendations for browsers</div>
                        <div class="matching-card history-incomplete" id="history-right-4">img tag</div>
                        <div class="matching-card history-incomplete" id="history-right-5">graphical web browser</div>
                        <div class="matching-card history-incomplete" id="history-right-6">world wide web</div>
                    </div>
                </div>
            </div>
            
            <div class="matching-set" id="matching-html" hidden>
                <div class="set-header">
                    <h2>HTML</h2>
                    <h3>Match the element tag to it's use</h3>
                </div>
                <div class="cards">
                    <div class="matching-col left">
                        <div class="matching-card html-incomplete" id="html-left-1">bulleted list</div>
                        <div class="matching-card html-incomplete" id="html-left-2">vertically stacked grouped elements</div>
                        <div class="matching-card html-incomplete" id="html-left-3">link</div>
                        <div class="matching-card html-incomplete" id="html-left-4">image</div>
                        <div class="matching-card html-incomplete" id="html-left-5">numbered list</div>
                        <div class="matching-card html-incomplete" id="html-left-6">side-by-side grouped elements</div>
                    </div>
                    <div class="matching-col right">
                        <div class="matching-card html-incomplete" id="html-right-1">ol</div>
                        <div class="matching-card html-incomplete" id="html-right-2">img</div>
                        <div class="matching-card html-incomplete" id="html-right-3">div</div>
                        <div class="matching-card html-incomplete" id="html-right-4">a</div>
                        <div class="matching-card html-incomplete" id="html-right-5">span</div>
                        <div class="matching-card html-incomplete" id="html-right-6">ul</div>
                    </div>
                </div>
            </div>

            <div class="matching-set" id="matching-css" hidden>
                <div class="set-header">
                    <h2>CSS</h2>
                    <h3>Match the selector type to its syntax</h3>
                </div>
                <div class="cards">
                    <div class="matching-col left">
                        <div class="matching-card css-incomplete" id="css-left-1">pseudo</div>
                        <div class="matching-card css-incomplete" id="css-left-2">id</div>
                        <div class="matching-card css-incomplete" id="css-left-3">descendent</div>
                        <div class="matching-card css-incomplete" id="css-left-4">element</div>
                        <div class="matching-card css-incomplete" id="css-left-5">class</div>
                        <div class="matching-card css-incomplete" id="css-left-6">compound</div>
                    </div>
                    <div class="matching-col right">
                        <div class="matching-card css-incomplete" id="css-right-1">img.selector {}</div>
                        <div class="matching-card css-incomplete" id="css-right-2">div h2 {}</div>
                        <div class="matching-card css-incomplete" id="css-right-3">#selector {}</div>
                        <div class="matching-card css-incomplete" id="css-right-4">.selector {}</div>
                        <div class="matching-card css-incomplete" id="css-right-5">h1 {}</div>
                        <div class="matching-card css-incomplete" id="css-right-6">a:hover {}, p:first-child {}</div>
                    </div>
                </div>
            </div>

            <div class="matching-set" id="matching-framework" hidden>
                <div class="set-header">
                    <h2>Web Frameworks</h2>
                    <h3>Match the aspect of web development to the framework</h3>
                </div>
                <div class="cards">
                    <div class="matching-col left">
                        <div class="matching-card framework-incomplete" id="framework-left-1">Frontend</div>
                        <div class="matching-card framework-incomplete" id="framework-left-2">Backend</div>
                        <div class="matching-card framework-incomplete" id="framework-left-3">CSS</div>
                        <div class="matching-card framework-incomplete" id="framework-left-4">CSS</div>
                        <div class="matching-card framework-incomplete" id="framework-left-5">Frontend</div>
                        <div class="matching-card framework-incomplete" id="framework-left-6">Backend</div>
                    </div>
                    <div class="matching-col right">
                        <div class="matching-card framework-incomplete" id="framework-right-1">Tailwind</div>
                        <div class="matching-card framework-incomplete" id="framework-right-2">Django</div>
                        <div class="matching-card framework-incomplete" id="framework-right-3">Angular</div>
                        <div class="matching-card framework-incomplete" id="framework-right-4">Bootstrap</div>
                        <div class="matching-card framework-incomplete" id="framework-right-5">React</div>
                        <div class="matching-card framework-incomplete" id="framework-right-6">Spring</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--display user's score and input displayname at the end-->
        <div id="display-practice-score" hidden>
            <h2 id="practice-score"></h2>
            <h3 id="practice-mistakes"></h3>
            <input type="text" placeholder="displayname" id="displayname">
            <button type="submit" id="submit-practice">Add to Leaderboard</button>
        </div>

        <!--database with displaynames, number of mistakes, and points-->

    <script>
        var selected = null;
        var matched = 0;
        var mistakes = 0;
        var score = 0;
        
        function selectHistory(event) {
            // first click
            if (selected == null) {
                selected = event;
                document.getElementById(selected.originalTarget.id).classList.add("selected")
            }
            // click again to deselect
            else if (selected == event) {
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            // check answer
            else {
                var correct = false;
                if ((selected.originalTarget.id == "history-left-1" && event.originalTarget.id == "history-right-2") || (selected.originalTarget.id == "history-left-1" && event.originalTarget.id == "history-right-6")) {correct = true;}
                else if ((selected.originalTarget.id == "history-left-2" && event.originalTarget.id == "history-right-4") || (selected.originalTarget.id == "history-left-2" && event.originalTarget.id == "history-right-5")) {correct = true;}
                else if ((selected.originalTarget.id == "history-left-3" && event.originalTarget.id == "history-right-4") || (selected.originalTarget.id == "history-left-3" && event.originalTarget.id == "history-right-5")) {correct = true;}
                else if ((selected.originalTarget.id == "history-left-4" && event.originalTarget.id == "history-right-1") || (selected.originalTarget.id == "history-left-4" && event.originalTarget.id == "history-right-3")) {correct = true;}
                else if ((selected.originalTarget.id == "history-left-5" && event.originalTarget.id == "history-right-2") || (selected.originalTarget.id == "history-left-5" && event.originalTarget.id == "history-right-6")) {correct = true;}
                else if ((selected.originalTarget.id == "history-left-6" && event.originalTarget.id == "history-right-1") || (selected.originalTarget.id == "history-left-6" && event.originalTarget.id == "history-right-3")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-1" && event.originalTarget.id == "history-left-4") || (selected.originalTarget.id == "history-right-1" && event.originalTarget.id == "history-left-6")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-2" && event.originalTarget.id == "history-left-1") || (selected.originalTarget.id == "history-right-2" && event.originalTarget.id == "history-left-5")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-3" && event.originalTarget.id == "history-left-4") || (selected.originalTarget.id == "history-right-3" && event.originalTarget.id == "history-left-6")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-4" && event.originalTarget.id == "history-left-2") || (selected.originalTarget.id == "history-right-4" && event.originalTarget.id == "history-left-3")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-5" && event.originalTarget.id == "history-left-2") || (selected.originalTarget.id == "history-right-5" && event.originalTarget.id == "history-left-3")) {correct = true;}
                else if ((selected.originalTarget.id == "history-right-6" && event.originalTarget.id == "history-left-1") || (selected.originalTarget.id == "history-right-6" && event.originalTarget.id == "history-left-5")) {correct = true;}

                if (correct) {
                    console.log('correct')
                    document.getElementById(selected.originalTarget.id).classList.remove("history-incomplete")
                    document.getElementById(event.originalTarget.id).classList.remove("history-incomplete")
                    document.getElementById(selected.originalTarget.id).classList.add("complete")
                    document.getElementById(event.originalTarget.id).classList.add("complete")
                    matched += 1;
                    score += 10;
                }
                else {
                    console.log('incorrect')
                    mistakes += 1;
                    score -= 5;
                }
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            if (matched == 6) {
                document.getElementById('matching-history').hidden = true;
                document.getElementById('matching-html').hidden = false;
            }
        }

        function selectHTML(event) {
            // first click
            if (selected == null) {
                selected = event;
                document.getElementById(selected.originalTarget.id).classList.add("selected")
            }
            // click again to deselect
            else if (selected == event) {
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            // check answer
            else {
                var correct = false;
                if (selected.originalTarget.id == "html-left-1" && event.originalTarget.id == "html-right-6") {correct = true;}
                else if (selected.originalTarget.id == "html-left-2" && event.originalTarget.id == "html-right-3") {correct = true;}
                else if (selected.originalTarget.id == "html-left-3" && event.originalTarget.id == "html-right-4") {correct = true;}
                else if (selected.originalTarget.id == "html-left-4" && event.originalTarget.id == "html-right-2") {correct = true;}
                else if (selected.originalTarget.id == "html-left-5" && event.originalTarget.id == "html-right-1") {correct = true;}
                else if (selected.originalTarget.id == "html-left-6" && event.originalTarget.id == "html-right-5") {correct = true;}
                else if (selected.originalTarget.id == "html-right-1" && event.originalTarget.id == "html-left-5") {correct = true;}
                else if (selected.originalTarget.id == "html-right-2" && event.originalTarget.id == "html-left-4") {correct = true;}
                else if (selected.originalTarget.id == "html-right-3" && event.originalTarget.id == "html-left-2") {correct = true;}
                else if (selected.originalTarget.id == "html-right-4" && event.originalTarget.id == "html-left-3") {correct = true;}
                else if (selected.originalTarget.id == "html-right-5" && event.originalTarget.id == "html-left-6") {correct = true;}
                else if (selected.originalTarget.id == "html-right-6" && event.originalTarget.id == "html-left-1") {correct = true;}

                if (correct) {
                    console.log('correct')
                    document.getElementById(selected.originalTarget.id).classList.remove("html-incomplete")
                    document.getElementById(event.originalTarget.id).classList.remove("html-incomplete")
                    document.getElementById(selected.originalTarget.id).classList.add("complete")
                    document.getElementById(event.originalTarget.id).classList.add("complete")
                    matched += 1;
                    score += 10;
                }
                else {
                    console.log('incorrect')
                    mistakes += 1;
                    score -= 5;
                }
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            if (matched == 12) {
                document.getElementById('matching-html').hidden = true;
                document.getElementById('matching-css').hidden = false;
            }
        }

        function selectCSS(event) {
            // first click
            if (selected == null) {
                selected = event;
                document.getElementById(selected.originalTarget.id).classList.add("selected")
            }
            // click again to deselect
            else if (selected == event) {
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            // check answer
            else {
                var correct = false;
                if (selected.originalTarget.id == "css-left-1" && event.originalTarget.id == "css-right-6") {correct = true;}
                else if (selected.originalTarget.id == "css-left-2" && event.originalTarget.id == "css-right-3") {correct = true;}
                else if (selected.originalTarget.id == "css-left-3" && event.originalTarget.id == "css-right-2") {correct = true;}
                else if (selected.originalTarget.id == "css-left-4" && event.originalTarget.id == "css-right-5") {correct = true;}
                else if (selected.originalTarget.id == "css-left-5" && event.originalTarget.id == "css-right-4") {correct = true;}
                else if (selected.originalTarget.id == "css-left-6" && event.originalTarget.id == "css-right-1") {correct = true;}
                else if (selected.originalTarget.id == "css-right-1" && event.originalTarget.id == "css-left-6") {correct = true;}
                else if (selected.originalTarget.id == "css-right-2" && event.originalTarget.id == "css-left-3") {correct = true;}
                else if (selected.originalTarget.id == "css-right-3" && event.originalTarget.id == "css-left-2") {correct = true;}
                else if (selected.originalTarget.id == "css-right-4" && event.originalTarget.id == "css-left-5") {correct = true;}
                else if (selected.originalTarget.id == "css-right-5" && event.originalTarget.id == "css-left-4") {correct = true;}
                else if (selected.originalTarget.id == "css-right-6" && event.originalTarget.id == "css-left-1") {correct = true;}

                if (correct) {
                    console.log('correct')
                    document.getElementById(selected.originalTarget.id).classList.remove("css-incomplete")
                    document.getElementById(event.originalTarget.id).classList.remove("css-incomplete")
                    document.getElementById(selected.originalTarget.id).classList.add("complete")
                    document.getElementById(event.originalTarget.id).classList.add("complete")
                    matched += 1;
                    score += 10;
                }
                else {
                    console.log('incorrect')
                    mistakes += 1;
                    score -= 5;
                }
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            if (matched == 18) {
                document.getElementById('matching-css').hidden = true;
                document.getElementById('matching-framework').hidden = false;
            }
        }

        function selectFrameworks(event) {
            // first click
            if (selected == null) {
                selected = event;
                document.getElementById(selected.originalTarget.id).classList.add("selected")
            }
            // click again to deselect
            else if (selected == event) {
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            // check answer
            else {
                var correct = false;
                if ((selected.originalTarget.id == "framework-left-1" && event.originalTarget.id == "framework-right-3") || (selected.originalTarget.id == "framework-left-1" && event.originalTarget.id == "framework-right-5")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-left-2" && event.originalTarget.id == "framework-right-2") || (selected.originalTarget.id == "framework-left-2" && event.originalTarget.id == "framework-right-6")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-left-3" && event.originalTarget.id == "framework-right-1") || (selected.originalTarget.id == "framework-left-3" && event.originalTarget.id == "framework-right-4")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-left-4" && event.originalTarget.id == "framework-right-1") || (selected.originalTarget.id == "framework-left-4" && event.originalTarget.id == "framework-right-4")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-left-5" && event.originalTarget.id == "framework-right-3") || (selected.originalTarget.id == "framework-left-5" && event.originalTarget.id == "framework-right-5")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-left-6" && event.originalTarget.id == "framework-right-2") || (selected.originalTarget.id == "framework-left-6" && event.originalTarget.id == "framework-right-6")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-1" && event.originalTarget.id == "framework-left-3") || (selected.originalTarget.id == "framework-right-1" && event.originalTarget.id == "framework-left-4")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-2" && event.originalTarget.id == "framework-left-2") || (selected.originalTarget.id == "framework-right-2" && event.originalTarget.id == "framework-left-6")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-3" && event.originalTarget.id == "framework-left-1") || (selected.originalTarget.id == "framework-right-3" && event.originalTarget.id == "framework-left-5")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-4" && event.originalTarget.id == "framework-left-3") || (selected.originalTarget.id == "framework-right-4" && event.originalTarget.id == "framework-left-4")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-5" && event.originalTarget.id == "framework-left-2") || (selected.originalTarget.id == "framework-right-5" && event.originalTarget.id == "framework-left-5")) {correct = true;}
                else if ((selected.originalTarget.id == "framework-right-6" && event.originalTarget.id == "framework-left-1") || (selected.originalTarget.id == "framework-right-6" && event.originalTarget.id == "framework-left-6")) {correct = true;}

                if (correct) {
                    console.log('correct')
                    document.getElementById(selected.originalTarget.id).classList.remove("framework-incomplete")
                    document.getElementById(event.originalTarget.id).classList.remove("framework-incomplete")
                    document.getElementById(selected.originalTarget.id).classList.add("complete")
                    document.getElementById(event.originalTarget.id).classList.add("complete")
                    matched += 1;
                    score += 10;
                }
                else {
                    console.log('incorrect')
                    mistakes += 1;
                    score -= 5;
                }
                document.getElementById(selected.originalTarget.id).classList.remove("selected")
                selected = null;
            }
            if (matched == 24) {
                document.getElementById('matching-framework').hidden = true;
                document.getElementById('display-practice-score').hidden = false;
                document.getElementById('practice-score').innerHTML = "Your Score: " + score
                document.getElementById('practice-mistakes').innerHTML = "Mistakes Made: " + mistakes
            }
        }

        cards = document.getElementsByClassName('history-incomplete')
        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', selectHistory)
        }

        cards = document.getElementsByClassName('html-incomplete')
        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', selectHTML)
        }

        cards = document.getElementsByClassName('css-incomplete')
        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', selectCSS)
        }

        cards = document.getElementsByClassName('framework-incomplete')
        for (let i = 0; i < cards.length; i++) {
            cards[i].addEventListener('click', selectFrameworks)
        }
        
    </script>
    </body>
</html>