<!Doctype >
<html>
    <head>
        <title>Web Development - Test Your Knowledge</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <nav>
        <ul id="navbar">
            <li><a href="/">About the Web</a></li>
            <li><a href="/practice">Practice</a></li>
            <li><a href="/test" class="active">Test Your Knowledge</a></li>
        </ul>
    </nav>

    <body>
        <header>
            <h1>Test Your Knowledge</h1>
            <em>See how well you know the history of the web, HTML, CSS, and web frameworks</em>  
        </header>
        <!--form with multiple choice questions filled in with JSON parsing-->
        
        <!--database with user's name, history score, development score, and total score-->
    </body>
</html>